*{
  box-sizing: border-box;
}

body{
  margin: 60px;
  background-image: url("/home/rhayser/Desktop/Projects/Second trial/css_background2.jpg");
  font-family: impact;
  background-repeat: round;
}

.content{
  padding-right: 120px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 100px;
}

h1 {
  background-image: url("/home/rhayser/Desktop/Projects/Second trial/pattern_1.jpeg");
  font-family: Helvetica;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  font-size: 100px;
  border-radius: 50px;
  border: 5px solid silver;
}

h3{
  text-decoration: underline;
  text-decoration-color: Silver;
  font-size: 22px;
  text-align: center;
  color: beige;
}

#brushes{
  background-color: mediumspringgreen;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  width: 200px;
  text-align: center;
  border-bottom-style: outset;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-color: red;
  border-bottom-width: 5px;
  border-left: 5px outset silver;
  border-top: 5px outset silver;
}

#frames{
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  width: 200px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: outset;
  border-bottom-color: blue;
  border-bottom-width: 5px;
  border-left: 5px outset silver;
  border-top: 5px outset silver;
}

#paint{
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  width: 200px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: inset;
  border-bottom-color: red;
  border-bottom-width: 5px;
  border-left: 5px outset silver;
  border-top: 5px outset silver;
}

#brushes, #frames, #paint {
  margin-top: 60px;
}

strong{
  font-family: Helvetica;
  font-weight: bold;
  color: pink;
}

p{
  font-family: impact;
  color: khaki;
  width: 1050px;
  font-size: 18px
  border: 2px dashed red;
  margin-right: 200px;
  max-width: 600px;
  text-align: justify;
}
 footer{
   text-align: center;
   text-decoration: none;
   color: white;
   background-color: black;
   padding-top: 50px;
 }

 .navigation ul{
   text-align: left;
   margin-top: -35px;
   font-size: 30px;
   font-family: impact;

 }

 .navigation li{
   display: inline;
   letter-spacing: 2px;
   font-weight: bold;
   padding: 0px 60px 0 60px;
 }

 .navigation a:hover{
   background: lightblue;
   border: 2px solid black;
   padding: 10px;
   animation: ease;
 }

 a{
   text-decoration: none;
   color: black;
   border: 2px solid black;
   background-color: silver;
 }
 img{
   display: block;
   margin-left: 25px;
   margin-right: auto;
   border-radius: 50%;
   border: 1px solid black;
 }
